@use "sass:map";

@import "bootstrap/scss/functions";

$prefix: dt-;

$blue-50: #F3F7FB;
$blue-100: #E5EEF9;
$blue-200: #C5DBF2;
$blue-300: #93BDE6;
$blue-400: #599BD7;
$blue-500: #337FC4;
$blue-600: #2362A2;
$blue-700: #1E5086;
$blue-800: #1D456F;
$blue-900: #1D3C5D;
$blue-950: #13263E;
$blue: $blue-600;

$red-100: #FDE3E3;
$red-200: #FCCCCC;
$red-300: #F8A9A9;
$red-400: #F37676;
$red-500: #E84B4B;
$red-600: #C62828;
$red-700: #B32222;
$red-800: #942020;
$red-900: #430C0C;
$red: $red-600;

$yellow-100: #FEF7C3;
$yellow-200: #FEED8A;
$yellow-300: #FFDA6A;
$yellow-400: #FAC615;
$yellow-500: #EAAD0B;
$yellow-600: #E49400;
$yellow-700: #CA8504;
$yellow-800: #BE7D02;
$yellow-900: #6B4A0D;
$yellow-950: #432E06;
$yellow: $yellow-500;

$green-100: #E2F6E3;
$green-200: #C7EBC9;
$green-300: #9BDA9E;
$green-400: #67C16B;
$green-500: #42A547;
$green-600: #2E7D32;
$green-700: #2A6B2D;
$green-800: #265529;
$green-900: #0D260F;
$green: $green-600;

$teal-100: #D2F4EA;
$teal-200: #A6E9D5;
$teal-300: #79DFC1;
$teal-400: #4DD4AC;
$teal-500: #20C997;
$teal-600: #1AA179;
$teal-700: #13795B;
$teal-800: #0D503C;
$teal-900: #06281E;
$teal: $teal-600;

$cyan-100: #CFEDFC;
$cyan-200: #9EDBF9;
$cyan-300: #6EC9F6;
$cyan-400: #3DB6F3;
$cyan-500: #0DA4F0;
$cyan-600: #0A83C0;
$cyan-700: #086390;
$cyan-800: #054260;
$cyan-900: #032130;
$cyan: $cyan-500;

//Semantic definition
$primary-50: $blue-50;
$primary-100: $blue-100;
$primary-200: $blue-200;
$primary-300: $blue-300;
$primary-400: $blue-400;
$primary-500: $blue-500;
$primary-600: $blue-600;
$primary-700: $blue-700;
$primary-800: $blue-800;
$primary-900: $blue-900;
$primary-950: $blue-950;
$primary: $primary-600;

$secondary-100: #FFF6E1;
$secondary-200: #FEF0D0;
$secondary-300: #FDE1A1;
$secondary-400: #FFCF74;
$secondary-500: #FBC342;
$secondary-600: #FAB413;
$secondary-700: #C8900F;
$secondary-800: #AF7A00;
$secondary-900: #4A3403;
$secondary-950: #3D2B00;
$secondary: $secondary-600;

$warning-100: $yellow-100;
$warning-200: $yellow-200;
$warning-300: $yellow-300;
$warning-400: $yellow-400;
$warning-500: $yellow-500;
$warning-600: $yellow-600;
$warning-700: $yellow-700;
$warning-800: $yellow-800;
$warning-900: $yellow-900;
$warning-950: $yellow-950;
$warning: $warning-600;

$danger-100: $red-100;
$danger-200: $red-200;
$danger-300: $red-300;
$danger-400: $red-400;
$danger-500: $red-500;
$danger-600: $red-600;
$danger-700: $red-700;
$danger-800: $red-800;
$danger-900: $red-900;
$danger: $danger-600;

$success-100: $green-100;
$success-200: $green-200;
$success-300: $green-300;
$success-400: $green-400;
$success-500: $green-500;
$success-600: $green-600;
$success-700: $green-700;
$success-800: $green-800;
$success-900: $green-900;
$success: $success-600;

$info-100: $cyan-100;
$info-200: $cyan-200;
$info-300: $cyan-300;
$info-400: $cyan-400;
$info-500: $cyan-500;
$info-600: $cyan-600;
$info-700: $cyan-700;
$info-800: $cyan-800;
$info-900: $cyan-900;
$info: $info-600;

$warning: $yellow-500;
$danger: $red-600;
$success: $green-600;
$info: $cyan-500;


$border-color-translucent: $primary-200;

//card variables
$card-title-color: $primary-700;
$card-subtitle-color: $primary-800;
$card-cap-bg: $primary-100;
$card-cap-color: $primary-700;

//tooltip variables
$tooltip-color: $primary-800;
$tooltip-bg: $primary-100;


// List group
$list-group-border-color: $primary-300;
$list-group-disabled-color: var(--#{$prefix}gray-600) !default;

// Tables
$table-hover-color: null;
$table-hover-bg-factor: null;
$table-hover-bg: null;

$table-border-color: $primary-200;

// tooltips 
$tooltip-color: $primary-900;
$tooltip-bg: $primary-100;

$spacing01: .25rem !default;
$spacing02: .5rem !default;
$spacing03: .75rem !default;
$spacing04: 1rem !default;
$spacing05: 1.25rem !default;
$spacing06: 1.5rem !default;
$spacing07: 1.75rem !default;
$spacing08: 2rem !default;
$spacing09: 2.25rem !default;
$spacing10: 2.5rem !default;
$spacing11: 2.75rem !default;

$spacers: (
    0: 0,
    1: $spacing01,
    2: $spacing02,
    3: $spacing03,
    4: $spacing04,
    5: $spacing05,
    6: $spacing06,
    7: $spacing07,
    8: $spacing08,
    9: $spacing09,
    10: $spacing10,
    11: $spacing11,
) !default;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

$theme-colors: map.merge($theme-colors, (
    "blue-50": $blue-50,
    "blue-100": $blue-100,
    "blue-200": $blue-200,
    "blue-300": $blue-300,
    "blue-400": $blue-400,
    "blue-500": $blue-500,
    "blue-600": $blue-600,
    "blue-700": $blue-700,
    "blue-800": $blue-800,
    "blue-900": $blue-900,
    "blue-950": $blue-950,
    "primary-50": $primary-50,
    "primary-100": $primary-100,
    "primary-200": $primary-200,
    "primary-300": $primary-300,
    "primary-400": $primary-400,
    "primary-500": $primary-500,
    "primary-600": $primary-600,
    "primary-700": $primary-700,
    "primary-800": $primary-800,
    "primary-900": $primary-900,
    "primary-950": $primary-950,
    "primary": $primary,
    "secondary-100": $secondary-100,
    "secondary-200": $secondary-200,
    "secondary-300": $secondary-300,
    "secondary-400": $secondary-400,
    "secondary-500": $secondary-500,
    "secondary-600": $secondary-600,
    "secondary-700": $secondary-700,
    "secondary-800": $secondary-800,
    "secondary-900": $secondary-900,
    "secondary-950": $secondary-950,
    "secondary": $secondary,
    "warning-100": $warning-100,
    "warning-200": $warning-200,
    "warning-300": $warning-300,
    "warning-400": $warning-400,
    "warning-500": $warning-500,
    "warning-600": $warning-600,
    "warning-700": $warning-700,
    "warning-800": $warning-800,
    "warning-900": $warning-900,
    "warning": $warning,
    "danger-100": $danger-100,
    "danger-200": $danger-200,
    "danger-300": $danger-300,
    "danger-400": $danger-400,
    "danger-500": $danger-500,
    "danger-600": $danger-600,
    "danger-700": $danger-700,
    "danger-800": $danger-800,
    "danger-900": $danger-900,
    "danger": $danger,
    "success-100": $success-100,
    "success-200": $success-200,
    "success-300": $success-300,
    "success-400": $success-400,
    "success-500": $success-500,
    "success-600": $success-600,
    "success-700": $success-700,
    "success-800": $success-800,
    "success-900": $success-900,
    "success": $success,
    "info-100": $info-100,
    "info-200": $info-200,
    "info-300": $info-300,
    "info-400": $info-400,
    "info-500": $info-500,
    "info-600": $info-600,
    "info-700": $info-700,
    "info-800": $info-800,
    "info-900": $info-900,
))