<div class="timeline @(Model.Vertical ? "timeline-vertical" : "timeline-horizontal") @Model.CssClass">
    @foreach (var item in Model.Items)
    {
        @((MarkupString)item)
    }
</div>

@code {
    [Parameter] public required Timeline.ViewModel Model { get; set; }
}
